<html>
<head>
<link href="styles.css" rel="stylesheet" type="text/css"/>

</head>

<body>
	<%- include('partials/nav'); %>
<h1> Thank you for contacting us   </h1>
<p> <%= data.who %> from </p>
<p> <%= data.dept %> department </p>
<p> will respond to your email : <%= data.email %> department </p>



	</body>

</html>
